# Python
.venv/
__pycache__/
*.py[cod]


# Environment / Secrets
.env

# ADK Runtime
src/agent/.adk/
*.db


# Large Raw Dataset
data/raw/zomato.csv
data/processed/

# Large ML Model
models/zomato_performance_model.pkl


# OS / IDE
.DS_Store
Thumbs.db
.vscode/